form{
    display:contents;
}

.col-info, .col-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col-buttons{
    align-items: center;
    justify-content: center;
}

.Open + .More{
    display:block;
}

.More{
    background-color: #FFF;
}

.ex-col{
    opacity: 0;
}