.row .col {
    float: none;
}

a{
    text-align: center;
    display:inline-block;
}

form{
    width: 340px;
    height: 340px;
    display: inline-block;
}

.Register:before {
    right: 0px;
    left: 0px;
    top: 100px;
    border-top-width: 50px;
    overflow: hidden;
    margin-bottom: 50px;
}

.Register::after {
    content: "";
    background: url(../images/cat_dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}